<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ws.epod">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo_no_frame"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
        tools:replace="android:allowBackup">
        <activity android:name=".scan.view.OfflineScan.ScanViewActivity"></activity>
        <activity android:name=".scan.view.delivery.ScanDeliveryActivity" />
        <activity android:name=".scan.view.pickup.ScanPickUpActivity" />
        <activity android:name=".scan.view.OfflineScan.ScanOfflineActivity" />
        <activity android:name=".signature.delivery.Signature_Deliver_Activity" />
        <activity android:name=".signature.delivery.InvoiceDeliver_Activity" />
        <activity android:name=".signature.pickup.Invoice_Activity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".signature.pickup.Signature_Activity" />
        <activity
            android:name=".scan.view.pickup.PinkingUpMaster_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".scan.view.delivery.Deliver_Activity"
            android:windowSoftInputMode="adjustResize" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".DropPoint_Activity" />
        <activity
            android:name=".PlanWork_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ObjectClass.SimpleScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Main_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".ObjectClass.BackgroundService"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>